# Database URL for SQLite
DATABASE_URL="dev.db"

# Source Microsoft SQL Server Database
DB_SERVER=localhost
DB_PORT=1433
DB_USER=sa
DB_PASSWORD="your_password"
DB_NAME=BDACADEMICO5

# Source Auth Database
UP_DB_USER=sa
UP_DB_PASSWORD="your_password"
UP_DB_NAME=BDAUTENTICACION5

# Canvas LMS API
CANVAS_API_ENDPOINT=https://politecnica.instructure.com/
CANVAS_API_KEY=your_canvas_api_key

# Options
INCLUDE_NO_HABILITADO_SECTIONS=false
EXPORT_ALL_COURSES=true
